.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: auto;
    width: fit-content;
}

.browse-blogs-container {
    margin: auto;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-title {
    text-align: center;
    margin: 4rem;
    font-size: 3rem;
    font-weight: normal;
}

.blog-thumbnail {
    border-radius: 1rem;
    overflow: hidden;
    width: 646px;
    height: 360px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topic-tag {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: fit-content;
}

#blog-thumbnail-link {
    text-decoration: none;
    color: #00283d;
    font-size: 1rem;
}

.title-tag {
    background-color: #fcf3ea;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.show-more-articles-button {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid #00283d;
    border-radius: 2rem;
    margin: 4rem;
    font-weight: bold;
}

.show-more-articles-button:hover {
    cursor: pointer;
    box-shadow: 0 0 0.15rem rgba(0, 40, 61, 0.25);
}