/*

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- COLORS
#003b5a - font
#ffe27a - background
#8dc9a9 - testimonial box

font-family: "DM Sans", Times ;

border-radius: 10px;

*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html { */
/* Good idea to set to 10 for easy calculations */
/* font-size: 10px; */
/* 10px / 16px = 0.625 = 62.5% */
/* Percentage of user's browsers font-size setting */
/* font-size: 62.5%;
  overflow-x: hidden;
} */

.testimonial-index {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  column-gap: 10px;
  row-gap: 1rem;
  grid-template-columns: repeat(4, auto);
  padding-bottom: 2rem;
}

.testimonial-list {
  max-width: 70rem;
}

.test-car {
  padding-bottom: 5rem;
}

.testimonial-item {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #8dc9a9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14rem;
  height: 16rem;
  border-radius: 10px;
  font-family: "DM Sans", Times;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.testimonial-stars {
  display: flex;
  margin-bottom: 0.5em;
  gap: 0.4rem;
}

/* .star {
  height: 30px;
  width: 30px;
} */

.testimonial-body {
  font-size: 20px;
  line-height: 1.6;
}

.testimonial-item-bottom {
  display: flex;
  position: relative;
  justify-content: start;
}

.testimonial-item-profile-img {
  /* border: 6px solid #003b5a; */
  border-radius: 8px;
  width: 4rem;
  height: 4rem;
  margin-left: -70px;
}
.scribble-box{
  z-index: 10;
  position: relative;
}

.testimonial-name {
  font-size: 20px;
  margin-left: 1rem;
  font-weight: 300;
}

/* Swiper */

.swiper {
  width: 95%;
  /* position: relative; */
  /* width: 95%; */
}

.swiper-slide {
}

.swiper-wrapper {
}
.swiper-initialized {
}
.swiper-horizontal {
}

.swiper-button-prev {
  /* position: absolute; */
  /* left: 2em; */
}

.swiper-button-next {
}
/* Add space between Swiper slides */
.swiper-slide {
  margin-right: 10px; /* Adjust the value to control the spacing */
}

/* Remove the margin from the last slide to prevent extra space */
.swiper-slide:last-child {
  margin-right: 0;
}

