/*

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- COLORS
#003b5a - font
#ffe27a - background
#8dc9a9 - testimonial box

font-family: "DM Sans", Times ;

border-radius: 10px;

*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html { */
/* Good idea to set to 10 for easy calculations */
/* font-size: 10px; */
/* 10px / 16px = 0.625 = 62.5% */
/* Percentage of user's browsers font-size setting */
/* font-size: 62.5%;
  overflow-x: hidden;
} */

.testimonial-index {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  column-gap: 10px;
  row-gap: 1rem;
  grid-template-columns: repeat(4, auto);
  padding-bottom: 2rem;
}

.testimonial-list {
  max-width: 80rem;
}

.test-car {
  padding-bottom: 5rem;
  width: 72em;
}

.testimonial-item {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #8dc9a9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 16rem;
  border-radius: 10px;
  font-family: "DM Sans", Times;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.testimonial-item-top {
  display: flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.test-admin-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 2px;

  background-color: #8dc9a9;
  bottom: 0.1em;
  right: 0em;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.15)
}

.testimonial-stars {
  display: flex;
  margin-bottom: 0.5em;
  gap: 0.4rem;
}

.heart-btn-main {
  /* background-color: transparent;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: large; */
}

.heart-btn {
  /* height: 25px;
  width: 25px; */
  /* background-color: transparent;
  border: none; */
  /* position: absolute; */
  /* top: 1rem;
  right: 1rem; */
  margin-bottom: 0.2em;
  padding: 0.5em;
  font-size: 25px;
  transition: all 0.3s;
}

.testimonial-delete-button {
  font-size: 25px;
}

.heart-filled {
  color: red;
  transition: all 0.3s;
}

.heart-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.heart-filled:hover {
  color: #555;
}

.testimonial-body {
  font-size: 20px;
  line-height: 1.6;
}

.testimonial-item-bottom {
  display: flex;
  position: relative;
  justify-content: start;
}

.testimonial-item-profile-img {
  /* border: 6px solid #003b5a; */
  border-radius: 8px;
  width: 4rem;
  height: 4rem;
  margin-left: -70px;
}
.scribble-box {
  z-index: 10;
  position: relative;
}

.testimonial-name {
  font-size: 20px;
  margin-left: 1rem;
  font-weight: 300;
}

/* Swiper */

.swiper {
  width: 95%;
  /* position: relative; */
  /* width: 95%; */
}

.swiper-slide {
  display: flex;
  gap: 0rem;
}

/* Add space between Swiper slides */
.swiper-slide {
  margin-right: 10px; /* Adjust the value to control the spacing */
}

/* Remove the margin from the last slide to prevent extra space */
.swiper-slide:last-child {
  margin-right: 0;
}
