.subs-container {
    margin: auto;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.subs-table {
    margin: auto;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    font-weight: normal;
    font-size: 1.5rem;
    font-weight: 400;
}

.subs-button {
    margin: 1rem;
}