/* 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- COLORS
#003b5a - font 
#ffe27a - background
#8dc9a9 - testimonial box

font-family: "DM Sans", Times ;

border-radius: 10px;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Good idea to set to 10 for easy calculations */
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browsers font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

.form-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  text-align: center;
  color: #003b5a;
  font-family: "DM Sans", Times;
  border-radius: 10px;
  max-width: 55rem;
  margin: 0 auto;
  background-color: #8dc9a9;
  padding-bottom: 2em;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #003b5a;
  border-radius: 200px;
  background-color: #ffe27a;
  font-size: 12px;
}

input::file-selector-button {
  background-color: #ffe27a;
}

.form-testimonial-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 120px;
  height: 100px;
}

input[type="text"] {
  font-family: "DM Sans", Times;
  font-size: 18px;
  padding-left: 10px;
}

.name-input {
  border-radius: 200px;
  font-family: "DM Sans", Times;
  border-radius: 200px;
  height: 40px;
  font-family: "DM Sans", Times;
}

textarea {
  font-size: 20px;
  border-radius: 1%;
  resize: none;
  width: 400px;
  height: 100px;
  font-family: "DM Sans", Times;
  padding-left: 5px;
}

button {
  font-size: 18px;
  font-family: "DM Sans", Times;
  padding: 12px 24px;
  border-radius: 200px;
  background-color: #ffe27a;
}

.form-btn:disabled {
  background-color: rgba(255, 226, 122, 30%);
}
