.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fcf3ea;
}

.footer a {
    text-decoration: none;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons a {
    padding: 0 5px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    padding: 0 10px;
}
