
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--color-lightest);
  border-radius: 7px;
}

.form-testimonial{
  display: flex;
  flex-direction: column;
}