.testimonial-index-container {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 5rem 1rem;
}


.image-container {
  position: relative;
  width: 80px;
  height: 80px;
}

.profile-border,
.profile-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.profile-border {
  z-index: 2;
}

 .profile-border,
 .profile-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
 }

.profile-pic {
  width: 92%;
  padding-left: 3px;
  border-radius: 18px;
}

.testimonial-item-bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial-delete-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}

.testimonial-delete-button:hover {
  cursor: pointer;
  color: #555;
  transform: scale(1.2);
}

.star {
  height: 30px;
  width: 30px;
}
.testimonial-stars {
  display: flex;
  gap: 0.5rem;
}
.testimonial-body {
  font-size: 20px;
  line-height: 1.6;
}
