.splash-page-top-section {
    display: flex;
    margin-left: 150px;
}

.splash-page-nav-logo {
    width: 50%;
}

.aurora-caption {
    font-size: 3.5rem;
    height: 30px;
}

.aurora-intro {
    font-size: 1.5rem;
}

.splash-page-hero-graphic {
    width: 42em;
    margin-top: -50px;
}

.top-section-content {
    display: flex;
    flex-direction: column;
    /* gap: 3em; */
}

@media (min-width: 1450px) {
    .splash-page-top-section{
        gap: 22em
    }
}

.top-section-about-aurora {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.splash-page-top-signup {
margin-top: -5em;
}

.learn-more-button {
    background-color: rgb(255, 226, 122);
    height: 2.5rem;
    width: 8rem;
    border: none;
    border-radius: 2rem;
}

.splash-page-benefits {
    display: flex;
    justify-content: space-around;
    /* margin-top: 100px; */
    text-align: center;
    margin-bottom: 150px;
}

.benefits-image {
    height: 6rem;
    margin-bottom: 20px;
}

.single-benefit-content-bold {
    font-size: 25px;
    color: rgb(0, 40, 61);
    margin-bottom: 10px;
}

.single-benefit-content-small {
    color: rgb(0, 40, 61);
    font-size: 20px;
}

.splash-page-testimonials {
    display: flex;
    margin-bottom: 7rem;
}

.splash-page-testimonials-header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
}

.splash-page-testimonials-container {
    display: flex;
    margin: auto;
}

/* @media (min-width: 1450px) {
    .splash-page-testimonials-container {
        gap:4em
    }
} */

/* .splash-page-single-testimonial {
    background-color:rgb(154, 207, 177);
    width: 14em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start;
} */

/* .splash-page-testimonial-name {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1rem;
} */

/* .testimonial-stars {
    height: 1.5rem;
} */

/* .testimonial-quote {
    font-size: 20px;
} */

/* .testimonial-user-image {
    height: 50px;
    display: flex;
    align-items: end;
} */

.testimonial-mood-happy {
    margin-top: -28em
}

.splash-page-screens {
    margin-left: 12em;
    margin-right: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.splash-page-screen-photo {
    height: 40em;
}

.splash-page-screen-content-container {
    display: flex;
    gap: 15em
}

.screen-content {
    font-size: 2.5em;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.screen-content-text {
    width: 120%
}

.screens-mood {
    height:50px;
}

@media (min-width: 1450px) {
    .splash-page-screens {
        margin-left: auto;
        margin-right: auto;
    }

    .splash-page-screen-content-container {
        margin: 0;
        justify-content: center;
    }
}

.splash-page-meet-the-founder-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 3rem;
    margin-bottom: 0px;
}

.founder-image {
    height: 30em;
}

.meet-the-founder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.meet-the-founder-header {
    font-size: 2rem;
}

.meet-the-founder-paragraph {
    font-size: 1rem;
}
