.confirm-modal-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
}

.form-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.form-subtitle {
    font-size: 1rem;
    font-weight: 300;
}

#modal-content {
    overflow: hidden;
    border-radius: 1.5rem;
}

.modal-button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

